

<body>
    <header class="header">
    
        <h1>LTR Lending Application</h1>
    </header>
    
    <form action="/api/user/submit" method="post">
      <main>
        <label for="name">First Name</label>
        <input type="text" id="name" name="first_name" required>
        <br>
        <label for="name">Last Name</label>
        <input type="text" id="name" name="last_name" required>
     <br>
        <label for="ssn">SSN:</label> 
        <input type="text" id="ssn" name="ssn"  placeholder ="---/--/----" required>
        <label for="income"> Income:</label>
        <input type="text" id="income" name="income" placeholder= "$" required>
        <label for="address">Address</label>
        <input type="text" id="address" name="address" required>
      <br>
     <br>
        
        {{!-- <label for="DOB">DOB:</label> 
        <input type="text" id="DOB" name="DOB"  placeholder ="MM/DD/YYYY" required>
     <br> --}}

      <br>
         
          <body>
            <label for="range-input">Credit Score:</label>
            <input type="range" id="range-input" name="credit" min="300" max="850" value="425">
            <br>
            <span id="range-value"></span>
            <script>
              const rangeInput = document.getElementById("range-input");
              const rangeValue = document.getElementById("range-value");
        
              rangeInput.addEventListener("input", () => {
                rangeValue.innerText = rangeInput.value;
              });
            </script>
          </body>
        </html>
        
      <br>
        <label for="loan_type">Loan Type:</label>
        <form action="#">
    <p>
      <label>
        <input name="loan_type" type="radio" value="auto" />
        <span>Auto</span>
      </label>
    </p>
    <p>
      <label>
        <input name="loan_type" type="radio" value="auto" />
        <span>Home</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="loan_type" type="radio" value="auto"  />
        <span>Personal</span>
      </label>
    </p>
    {{!-- <p>
      <label>
        <input type="checkbox" name="loan_type" class="filled-in" />
        <span>Auto</span>
      </label>
    </p> --}}
        </form>
        <br>
        <label for="loanAmount">Amount Requested:</label>
        <input type="text" id="loanAmount" name="amount_requested" placeholder= "$" required>
        <br>
      
       <br>
       <button type="submit">Submit</button>
       
      </form>
      
    </main>

</body>
</html>