<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>LTR Lending</title>
</head>
<body>
    <header class="header">

        <h1>LTR Lending</h1>
        <nav class="nav">
            <a class="navButton">Login</a>
            <a class="navButton">Sign up</a>
            <a class="navButton">About LTR</a>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer class="footer">
        <nav class="footerNav">
            <a class="about">Londa</a>
            <a class="about">Tommy</a>
            <a class="about">Ryan</a>
            <a class="about">LO Login</a>
        </nav>
    </footer>
</body>
</html>