<body>
  <header class="#ff5252 red accent-2">
    <h1>About LTR Lending</h1>
  </header>
  <div class="container-fluid">
        <div class="col s6 m7">
          <div class="card">
            <div class="card-image">
              <img  style="width: 200px; border: 1px solid red;" src="/images/ltr.jpg">
            </div>
            <div class="card-content">
              <p>Welcome! LTR Lending is a reputable lending company that offers a wide range of loans including auto loans, home loans and of course personal loans. We cater to a diverse set of borrowers, providing loans as small as $50 for personal needs to large jumbo home loans up to $5M. With a team of dedicated professionals like Londa, Tommy, and Ryan, LTR Lending strives to provide the best possible lending experience to their customers. One of the unique features of LTR Lending is that they offer guaranteed approvals to all their clients, making it an excellent option for those who may have faced difficulties in getting approved by other lenders. Overall, LTR Lending is a reliable and trustworthy lending company that can meet the financial needs of a broad spectrum of borrowers.</p>
            </div>
            <div class="card-action">
              <a href="/londa">Contact One of Our Lenders Here!</a>
            </div>
      </div>
    </div>
  </div>
</body>