<body class="#18ffff cyan accent-2">
    <div class="container shadow rounded-3 p-3 white my-5">
        <h1 class="display-3 text-center">Loan Calculator</h1>  
        <form id="loan">
            <main class="row mx-5">
                <div class="data-field">
                    <input type="number" class="autocomplete"
                    id="startingValue" />
                    <label>Starting Estimated Value (for auto and home loans only)</label>
                </div>
                <div class="data-field">
                    <input type="number" class="autocomplete"
                    id="downPayment" />
                    <label>Down Payment</label>
                </div>
                <div class="data-field">
                    <input type="number" class="autocomplete"
                    id="loanAmount" readonly placeholder="LoanAmount" />
                    <label>Final Loan Amount</label>
                </div>
                <div class="data-field">
                    <input type="text" class="autocomplete"
                    id="interestRate" />
                    <label>Interest Rate (%)</label>
                </div>
                <div class="data-field">
                    <input type="text" class="autocomplete"
                    id="loanDuration" />
                    <label>Loan Duration (years)</label>
                </div>
            </main>
            <footer class="row-cols-1 align-items-center m-5">
                <button class="btn btn-large" type="submit">Calculate</button>
                <button class="btn btn-large rounded-pill light green mt-5" type="submit">
                    <b style="text-shadow: 1px 1px 1px black">
                        Est. Monthly Payment: <span id="monthlyPayment"></span>                    
                    </b>
                </button>
            </footer>
        </form>
    </div>
    <script src="js/calc.js"></script>
</body>