<body>
  <header class="#ff5252 red accent-2">
    <h1>Londa</h1>
  </header>

  <div class="container-fluid">
    <div class="col s6 m7">
      <div class="card">
        <div class="card-image">
          <img  style="width: 200px; border: 1px solid red;" src="/images/londa.jpg" alt="londa's headshot">
        </div>

        <div class="card-content">
          <p>Cant tell if it's your radio or your engine? Does it rain outside and INSIDE too? Planning to say I DO and wondering if you can? Last one in the group chat to book your flight for the upcoming vaca? Tired of robbing Peter to pay Paul....grab a personal loan and let LTR pay them all!! My name is Londa and I'm a loan officer at LTR. I am here to provide you with the best personal loan for your needs. Apply now! Please reach out with any questions!.</p>
        </div>
        
        <div class="card-action">
          <a href="/login">Ask Londa A Question Here!</a>
        </div>
      </div>
    </div>
  </div>
</body>