<body>
  <header class="#ff5252 red accent-2">
    <h1>Londa</h1>
  </header>

  <div class="container-fluid">
    <div class="col s6 m7">
      <div class="card">
        <div class="card-image">
          <img  style="width: 200px; border: 1px solid red;" src="/images/londa.jpg" alt="londa's headshot">
        </div>

        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        
        <div class="card-action">
          <a href="/login">Ask Londa A Question Here!</a>
        </div>
      </div>
    </div>
  </div>
</body>