<body>
    <header class="#ff5252 red accent-2">
        <h1>Ryan</h1>
    </header>

      <div class="row">
        <div class="col s6 m7">
          <div class="card">
            <div class="card-image">
              <img style="width: 200px; border: 1px solid red;" src="/images/ryan.jpg">
            </div>
            <div class="card-content">
                <p>Hi! Ryan here.  I am the resident Mortgage Loan Officer here at LTR Lending.  I enjoy working with all my clients, whether they are First Time Homebuyers or one of my many repeat customers.  I am proud to be part of this team, and together Londa, Tommy, and I will be able to answer any questions you have and offer you and your family a loan experience second to none.  So what are you waiting for?  Talk you you soon! </p>
              </div>
              <div class="card-action">
                <a href="/login">Ask Ryan A Question Here!</a>
          </div>
        </div>
      </div>
</body>
