<body>
    <header class="#ff5252 red accent-2">
        <h1>About Tommy</h1>
    </header>
    
    <div class="row">
        <div class="col s6 m7">
          <div class="card">
            <div class="card-image">
              <img style="width: 200px; border: 1px solid red;" src="/public/images/tommy.jpg">
              <span class="card-title">Tommy</span>
            </div>
            <div class="card-content">
              <p>Hi, my name is Tommy, and I work as an Auto Loan Specialist at LTR Lending. With over a decade of experience in the finance industry, I have developed a deep understanding of the various aspects of auto financing and I take pride in helping people achieve their dreams of owning a car. At LTR Lending my primary responsibility is to guide our clients through the auto loan application process from start to finish. I am committed to providing personalized attention to each client, helping them find the right financing option that fits their unique needs and budget. With my extensive knowledge and expertise I can help even those with poor credit scores obtain auto loans at competitive rates. My goal is to make the car buying experience as smooth and stress-free as possible for all of our clients, and I strive to ensure their complete satisfaction with every loan transaction.</p>
            </div>
            <div class="card-action">
              <a href="#">Ask Tommy A Question Here!</a>
            </div>
          </div>
        </div>
      </div>
      
</body>
