* {
margin: 0;
padding: 0;
}

.mybody {
    min-height: 100vh;
}

.myHeader{    
display: flex;
flex-direction: row;
background-color: coral;
align-items: center;
max-height: 155px;
}

.myNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  

.navButton{
    padding: 15px;
    font-weight: 700;
    color:black;
}

.navButton:hover {
    cursor: grab;    
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5em;

}
#image {
    display: flex;
    border-radius: 2em;
    align-items: center;
 
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: coral;
    min-height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: 700;
}
.footerNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-color: coral;
    height: auto;
    color: #000;
}

.footer a:hover {
    cursor: grab;
}

.about {
    color: black;
}

form {
    margin: 2em;
}